<style>

.dCenterImg{
text-align:center;
}

#myContainer{
	display: inline-block;
	padding: 5px;
	text-align: center;
}

#dCI{ 
		display:inherit;
		padding: inherit;
		text-align:inherit;
}

#dRoller{	
		display: inline-block;
		/* padding: inherit; */
		/* text-align:inherit; */
}

#spRoller{
		display:inherit;
}


.imgCommon{
		display:inherit;
		border: 1px solid white;
		padding: 2px;
		/* height: 100px; */
}

.noneVisImg{
display: none
}

.selectedPic{
	border: 1px solid red;
}

.itCanScrolled{
cursor: pointer;
}

</style>



