<style>

#dRoller{	
	text-align:center;
}

#dCI{
			
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 30px;
			padding-right: 10px;
			text-align:center;
			height: 60%;
}

#curImage{
height: 100%;
}

.imgCommon{
padding: 2px 2px 2px 5px;
height: 100px;
}

.noneVisImg{
display: none
}


.selectedPic{
	border: 2px solid red;
}


#logo{
font-weight: bold; 
font-size: 54pt;
text-align: center;
}
</style>



