<style>

.dCenterImg{
text-align:center;
}

#dCI{
			
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 30px;
			padding-right: 10px;
			text-align:center;
		/*	height: 60%;*/
}

#dRoller{	
	text-align:center;
}

#curImage{
   height: 400px;
}

.imgCommon{
padding: 2px 2px 2px 5px;
height: 100px;
}

.noneVisImg{
display: none
}

.selectedPic{
	border: 2px solid red;
}

</style>



